body{
    background-color: #FFD1B7;
}

.dropdown-menu{
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}

.dropdown {
    text-align: center;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.thumbnail {
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logo {
   font-size: 2em;
   font-weight: 600;
   text-align: center; 
   color: #7ECC9F;
   position: relative;
   top: 40px;
   font-family: "Gloria Hallelujah", cursive;
}

.text-box {
    border-radius: 3px;
    position: relative;
    margin: 8% auto auto auto;
    width: 450px;
    padding: 40px 50px;
    display: table;
    background-color: #fff;
}

.text-box-maintext {
    font-size: 1.75em;
    font-weight: 500;
    text-align: center;
}

.text-box-secondaryelement {
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
}

.button {
    text-align: center;
    width: 100px;
    height: 38px;
    margin: auto;
    display: block;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #333;
    outline: none;
    font-size: 0.90em;
    padding: 8px 18px 6px 18px;
    margin-top: 30px;
    opacity: 1;
    cursor: pointer;

}

.button:hover {
    opacity: 0.9;
}
