<!DOCTYPE html>
<html lang="en">
<head> 

<style> 

    .slideContainer {
    white-space: nowrap;
    }

    .slide { 
        width: 1500px;
        float: left;
        display: inline;
    }
</style>
</head> 
 <body>
 <div class="slideContainer">
    <div class="slide">
      <img style="width: 300px; height: 250px"
          alt="" src="../static/image/ellis-island.jpg" />

      <img style="width: 300px"
          alt="Ellis Island" src="../static/image/ellis-island.jpg" />

      <img style="width: 300px"
          alt="Ellis Island" src="../static/image/ellis-island.jpg" />


      <img style="width: 300px"
          alt="Ellis Island" src="../static/image/ellis-island.jpg" />


      <img style="width: 300px"
          alt="Ellis Island" src="../static/image/ellis-island.jpg" />
    </div>
    </div>
</body>
</html>