<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    
    button { 
       padding: .5cm 1cm 0.5cm 1cm ;
       border-radius: 5%;
    }
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>


<div class="jumbotron">
  <div class="container text-center"> 
  <img style="width: 100%;"
          alt="" src="../static/image/header.jpg" />
  </div>
</div>
  
<div class="container-fluid bg-3 text-center">   
  <div class="row">
    <iframe frameBorder="0" onload="this.width=screen.width;this.height=screen.height/2"  src="img.html"></iframe>
     
  </div>
  <br>

  <div class="container-fluid bg-3 text-center">    

  <h3>Education Immigrant Tours</h3><br>
    <div class="row">
      <div class="col-sm-4"> 
        <button class="btn-primary">1800-1900</button>
      </div>
      <div class="col-sm-4">  
        <button class="btn-primary">1900-2000</button>
      </div>
      <div class="col-sm-4 pd">  
        <button class="btn-primary">2000-</button>
      </div>
       
    </div>
</div><br><br>

<footer class="container-fluid">
  <p>All contents © 2017 #StandByImmagrant. All rights reserved.</p>
</footer>

</body>
</html>

