<!DOCTYPE html>
<html lang="en">
<head> 

<style> 

    .slideContainer {
    white-space: nowrap;
    }

    .slide { 
        width: 1500px;
        float: left;
        display: inline;
    }

    .panel {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
        width: 400px;
        height 300px;
    }


</style>
</head> 
 <body>
 <div class="slideContainer">
    <div class="slide">

      <img class="panel"
          alt="Ellis Island" src="../static/image/ellis-island1.jpg" />

      <img class="panel" style="height: 266px"
          alt="Brill Building" src="../static/image/brill_building1.jpg" />

      <img class="panel"
          alt="Carnegie Hall" src="../static/image/carnegie_hall1.jpg" />


      <img class="panel"
          alt="Hart Island" src="../static/image/hart_island1.jpg" />

      <img class="panel"
          alt="Shirtwaist Factory" src="../static/image/shirtwaist_factory1.jpg" />
    </div>
  </div>
</body>
</html>
